.song-card {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.song-card img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.add-remove-button {
  cursor: pointer;
  background-color: #AF7AC5 ;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  margin-left: auto; 
}

.add-remove-button:hover {
  background-color: #7D3C98 ;
}
